---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Timeline</Fragment>
      <Fragment slot="desc">How AV technology has developed overtime.</Fragment>
    </Sectionhead>

    <div>
      <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1EAQxWUdrOnmh5-lXg4bHTwfnzxL_aAo3MniKjL4qhrU&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' allowfullscreen allowfullscreen allowfullscreen frameborder='0'></iframe>
    </div>
  </Container>
</Layout>
