---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import carImage from "assets/waymo-jag.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-12">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={carImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Exploring the Ethics of Autonomous Vehicles
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Autonomous vehicles (AVs) offer numerous benefits, but also raise ethical
      challenges. This project aims to explore the main ethical principles and
      values that should guide the design, regulation, and use of AVs.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/COMP380_SP23/quiz"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-timer" />

        Take the Quiz
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/COMP380_SP23/timeline"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxs-calendar" />
        Explore Interactive Timeline
      </Link>
    </div>
  </div>
</main>
