---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="">
  <h1 class="text-center text-slate-700 text-lg">This website was built with:</h1>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-6 flex-wrap">
    <Icon class="h-8 md:h-16" name="simple-icons:javascript" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
    <Icon class="h-8 md:h-12" name="simple-icons:github" />

  </div>
</div>
